<div class="arrival" data-route-code="<%= arrival['rt'] %>">
  <div class="arrival-time-diff"><%= time_display(arrival['arrT']) %></div><div class="arrival-time"><%= Time.parse(arrival['arrT']).strftime("%l:%M%P") %></div>
</div>
