<section class="nearest-station-wrap"><p><a class="get-nearest-link"">Find Nearest Station</a></p></section>

<section class="route-list">
  <div class="route" data-route-code="Red">
    <div class="route-title">Red</div>
    <div class="station-list">
  		<ul>
  			<li class="transfer"><a href="/s/40900" title="Howard">Howard</a></li>
  			<li><a href="/s/41190" title="Jarvis">Jarvis</a></li>
  			<li><a href="/s/40100" title="Morse">Morse</a></li>
  			<li><a href="/s/41300" title="Loyola">Loyola</a></li>
  			<li><a href="/s/40760" title="Granville">Granville</a></li>
  			<li><a href="/s/40880" title="Thorndale">Thorndale</a></li>
  			<li><a href="/s/41380" title="Bryn Mawr">Bryn Mawr</a></li>
  			<li><a href="/s/40340" title="Berwyn">Berwyn</a></li>
  			<li><a href="/s/41200" title="Argyle">Argyle</a></li>
  			<li><a href="/s/40770" title="Lawrence">Lawrence</a></li>
  			<li><a href="/s/40540" title="Wilson">Wilson</a></li>
  			<li><a href="/s/40080" title="Sheridan">Sheridan</a></li>
  			<li><a href="/s/41420" title="Addison">Addison</a></li>
  			<li class="transfer"><a href="/s/41320" title="Belmont">Belmont</a></li>
  			<li class="transfer"><a href="/s/41220" title="Fullerton">Fullerton</a></li>
  			<li><a href="/s/40650" title="North/Clybourn">North/Clybourn</a></li>
  			<li><a href="/s/40630" title="Clark/Division">Clark/Division</a></li>
  			<li><a href="/s/41450" title="Chicago">Chicago</a></li>
  			<li><a href="/s/40330" title="Grand">Grand</a></li>
  			<li class="transfer"><a href="/s/41660" title="Lake">Lake</a></li>
  			<li><a href="/s/41090" title="Monroe">Monroe</a></li>
  			<li class="transfer"><a href="/s/40560" title="Jackson">Jackson</a></li>
  			<li><a href="/s/41490" title="Harrison">Harrison</a></li>
  			<li class="transfer"><a href="/s/41400" title="Roosevelt">Roosevelt</a></li>
  			<li><a href="/s/41000" title="Cermak-Chinatown">Cermak-Chinatown</a></li>
  			<li><a href="/s/40190" title="Sox-35th">Sox-35th</a></li>
  			<li><a href="/s/41230" title="47th">47th</a></li>
  			<li><a href="/s/41170" title="Garfield">Garfield</a></li>
  			<li><a href="/s/40910" title="63rd">63rd</a></li>
  			<li><a href="/s/40990" title="69th">69th</a></li>
  			<li><a href="/s/40240" title="79th">79th</a></li>
  			<li><a href="/s/41430" title="87th">87th</a></li>
  			<li><a href="/s/40450" title="95th/Dan Ryan">95th/Dan Ryan</a></li>
  		</ul>
    </div>
	</div>
  <div class="route" data-route-code="Brn">
    <div class="route-title">Brown</div>
    <div class="station-list">
      <ul>
        <li><a href="/s/41290" title="Kimball">Kimball</a></li>
        <li><a href="/s/41180" title="Kedzie">Kedzie</a></li>
        <li><a href="/s/40870" title="Francisco">Francisco</a></li>
        <li><a href="/s/41010" title="Rockwell">Rockwell</a></li>
        <li><a href="/s/41480" title="Western">Western</a></li>
        <li><a href="/s/40090" title="Damen">Damen</a></li>
        <li><a href="/s/41500" title="Montrose">Montrose</a></li>
        <li><a href="/s/41460" title="Irving Park">Irving Park</a></li>
        <li><a href="/s/41440" title="Addison">Addison</a></li>
        <li><a href="/s/41310" title="Paulina">Paulina</a></li>
        <li><a href="/s/40360" title="Southport">Southport</a></li>
        <li class="transfer"><a href="/s/41320" title="Belmont">Belmont</a></li>
        <li><a href="/s/41210" title="Wellington">Wellington</a></li>
        <li><a href="/s/40530" title="Diversey">Diversey</a></li>
        <li class="transfer"><a href="/s/41220" title="Fullerton">Fullerton</a></li>
        <li><a href="/s/40660" title="Armitage">Armitage</a></li>
        <li><a href="/s/40800" title="Sedgwick">Sedgwick</a></li>
        <li><a href="/s/40710" title="Chicago">Chicago</a></li>
        <li><a href="/s/40460" title="Merchandise Mart">Merchandise Mart</a></li>
      </ul>
      <hr class="divider loop">
      <ul>
        <li class="transfer"><a href="/s/40730" title="Washington/Wells">Washington/Wells</a></li>
        <li class="transfer"><a href="/s/40040" title="Quincy">Quincy</a></li>
        <li class="transfer"><a href="/s/40160" title="LaSalle/Van Buren">LaSalle/Van Buren</a></li>
        <li class="transfer"><a href="/s/40850" title="Harold Washington Library-S/VB">Harold Washington Library-S/VB</a></li>
        <li class="transfer"><a href="/s/40680" title="Adams/Wabash">Adams/Wabash</a></li>
        <li class="transfer"><a href="/s/40200" title="Randolph/Wabash">Randolph/Wabash</a></li>
        <li class="transfer"><a href="/s/40260" title="State/Lake">State/Lake</a></li>
        <li class="transfer"><a href="/s/40380" title="Clark/Lake">Clark/Lake</a></li>
      </ul>
    </div>
  </div>
  <div class="route" data-route-code="Y">
    <div class="route-title">Yellow</div>
    <div class="station-list">
  		<ul>
        <li><a href="/s/40140" title="Dempster-Skokie">Dempster-Skokie</a></li>
        <li><a href="/s/41680" title="Oakton-Skokie">Oakton-Skokie</a></li>
        <li class="transfer"><a href="/s/40900" title="Howard">Howard</a></li>
      </ul>
    </div>
  </div>
  <div class="route" data-route-code="Org">
    <div class="route-title">Orange</div>
    <div class="station-list">
      <ul>
        <li class="airport"><a href="/s/40930" title="Midway">Midway</a></li>
        <li><a href="/s/40960" title="Pulaski">Pulaski</a></li>
        <li><a href="/s/41150" title="Kedzie">Kedzie</a></li>
        <li><a href="/s/40310" title="Western">Western</a></li>
        <li><a href="/s/40120" title="35th/Archer">35th/Archer</a></li>
        <li><a href="/s/41060" title="Ashland">Ashland</a></li>
        <li><a href="/s/41130" title="Halsted">Halsted</a></li>
        <li class="transfer"><a href="/s/41400" title="Roosevelt">Roosevelt</a></li>
      </ul>
      <hr class="divider loop">
      <ul>
        <li class="transfer"><a href="/s/40850" title="Harold Washington Library-S/VB">Harold Washington Library-S/VB</a></li>
        <li class="transfer"><a href="/s/40160" title="LaSalle/Van Buren">LaSalle/Van Buren</a></li>
        <li class="transfer"><a href="/s/40040" title="Quincy">Quincy</a></li>
        <li class="transfer"><a href="/s/40730" title="Washington/Wells">Washington/Wells</a></li>
        <li class="transfer"><a href="/s/40380" title="Clark/Lake">Clark/Lake</a></li>
        <li class="transfer"><a href="/s/40260" title="State/Lake">State/Lake</a></li>
        <li class="transfer"><a href="/s/40200" title="Randolph/Wabash">Randolph/Wabash</a></li>
        <li class="transfer"><a href="/s/40680" title="Adams/Wabash">Adams/Wabash</a></li>
      </ul>
    </div>
  </div>
  <div class="route" data-route-code="G">
    <div class="route-title">Green</div>
    <div class="station-list">
      <ul>
        <li><a href="/s/40020" title="Harlem/Lake">Harlem/Lake</a></li>
        <li><a href="/s/41350" title="Oak Park">Oak Park</a></li>
        <li><a href="/s/40610" title="Ridgeland">Ridgeland</a></li>
        <li><a href="/s/41260" title="Austin">Austin</a></li>
        <li><a href="/s/40280" title="Central">Central</a></li>
        <li><a href="/s/40700" title="Laramie">Laramie</a></li>
        <li><a href="/s/40480" title="Cicero">Cicero</a></li>
        <li><a href="/s/40030" title="Pulaski">Pulaski</a></li>
        <li><a href="/s/41670" title="Conservatory-Central Park Drive">Conservatory-Central Park Drive</a></li>
        <li><a href="/s/41070" title="Kedzie">Kedzie</a></li>
        <li><a href="/s/41360" title="California">California</a></li>
        <li class="transfer"><a href="/s/40170" title="Ashland">Ashland</a></li>
        <li><a href="/s/41510" title="Morgan">Morgan</a></li>
        <li class="transfer"><a href="/s/41160" title="Clinton">Clinton</a></li>
        <li class="transfer"><a href="/s/40380" title="Clark/Lake">Clark/Lake</a></li>
        <li class="transfer"><a href="/s/40260" title="State/Lake">State/Lake</a></li>
        <li class="transfer"><a href="/s/40200" title="Randolph/Wabash">Randolph/Wabash</a></li>
        <li class="transfer"><a href="/s/40680" title="Adams/Wabash">Adams/Wabash</a></li>
        <li class="transfer"><a href="/s/41400" title="Roosevelt">Roosevelt</a></li>
        <li><a href="/s/41690" title="Cermak-McCormick Place">Cermak-McCormick Place</a></li>
        <li><a href="/s/41120" title="35th-Bronzeville-IIT">35th-Bronzeville-IIT</a></li>
        <li><a href="/s/40300" title="Indiana">Indiana</a></li>
        <li><a href="/s/41270" title="43rd">43rd</a></li>
        <li><a href="/s/41080" title="47th">47th</a></li>
        <li><a href="/s/40130" title="51st">51st</a></li>
        <li><a href="/s/40510" title="Garfield">Garfield</a></li>
      </ul>
      <hr class="divider eastbranch">
      <ul>
        <li><a href="/s/41140" title="King Drive">King Drive</a></li>
        <li><a href="/s/40720" title="Cottage Grove">Cottage Grove</a></li>
      </ul>
      <hr class="divider westbranch">
      <ul>
        <li><a href="/s/40940" title="Halsted">Halsted</a></li>
        <li><a href="/s/40290" title="Ashland/63rd">Ashland/63rd</a></li>
      </ul>
    </div>
  </div>
  <div class="route" data-route-code="P">
    <div class="route-title">Purple</div>
    <div class="station-list">
      <ul>
        <li><a href="/s/41050" title="Linden">Linden</a></li>
        <li><a href="/s/41250" title="Central">Central</a></li>
        <li><a href="/s/40400" title="Noyes">Noyes</a></li>
        <li><a href="/s/40520" title="Foster">Foster</a></li>
        <li><a href="/s/40050" title="Davis">Davis</a></li>
        <li><a href="/s/40690" title="Dempster">Dempster</a></li>
        <li><a href="/s/40270" title="Main">Main</a></li>
        <li><a href="/s/40840" title="South Boulevard">South Boulevard</a></li>
        <li class="transfer"><a href="/s/40900" title="Howard">Howard</a></li>
        <li class="transfer"><a href="/s/41320" title="Belmont">Belmont</a></li>
        <li><a href="/s/41210" title="Wellington">Wellington</a></li>
        <li><a href="/s/40530" title="Diversey">Diversey</a></li>
        <li class="transfer"><a href="/s/41220" title="Fullerton">Fullerton</a></li>
        <li><a href="/s/40660" title="Armitage">Armitage</a></li>
        <li><a href="/s/40800" title="Sedgwick">Sedgwick</a></li>
        <li><a href="/s/40710" title="Chicago">Chicago</a></li>
        <li><a href="/s/40460" title="Merchandise Mart">Merchandise Mart</a></li>
      </ul>
      <hr class="divider loop">
      <ul>
        <li class="transfer"><a href="/s/40380" title="Clark/Lake">Clark/Lake</a></li>
        <li class="transfer"><a href="/s/40260" title="State/Lake">State/Lake</a></li>
        <li class="transfer"><a href="/s/40200" title="Randolph/Wabash">Randolph/Wabash</a></li>
        <li class="transfer"><a href="/s/40680" title="Adams/Wabash">Adams/Wabash</a></li>
        <li class="transfer"><a href="/s/40850" title="Harold Washington Library-S/VB">Harold Washington Library-S/VB</a></li>
        <li class="transfer"><a href="/s/40160" title="LaSalle/Van Buren">LaSalle/Van Buren</a></li>
        <li class="transfer"><a href="/s/40040" title="Quincy">Quincy</a></li>
        <li class="transfer"><a href="/s/40730" title="Washington/Wells">Washington/Wells</a></li>
      </ul>
    </div>
  </div>
  <div class="route" data-route-code="Pink">
    <div class="route-title">Pink</div>
    <div class="station-list">
      <ul>
        <li><a href="/s/40580" title="54th/Cermak">54th/Cermak</a></li>
        <li><a href="/s/40420" title="Cicero">Cicero</a></li>
        <li><a href="/s/40600" title="Kostner">Kostner</a></li>
        <li><a href="/s/40150" title="Pulaski">Pulaski</a></li>
        <li><a href="/s/40780" title="Central Park">Central Park</a></li>
        <li><a href="/s/41040" title="Kedzie">Kedzie</a></li>
        <li><a href="/s/40440" title="California">California</a></li>
        <li><a href="/s/40740" title="Western">Western</a></li>
        <li><a href="/s/40210" title="Damen">Damen</a></li>
        <li><a href="/s/40830" title="18th">18th</a></li>
        <li><a href="/s/41030" title="Polk">Polk</a></li>
        <li class="transfer"><a href="/s/40170" title="Ashland">Ashland</a></li>
        <li><a href="/s/41510" title="Morgan">Morgan</a></li>
        <li class="transfer"><a href="/s/41160" title="Clinton">Clinton</a></li>
      </ul>
      <hr class="divider loop">
      <ul>
        <li class="transfer"><a href="/s/40380" title="Clark/Lake">Clark/Lake</a></li>
        <li class="transfer"><a href="/s/40260" title="State/Lake">State/Lake</a></li>
        <li class="transfer"><a href="/s/40200" title="Randolph/Wabash">Randolph/Wabash</a></li>
        <li class="transfer"><a href="/s/40680" title="Adams/Wabash">Adams/Wabash</a></li>
        <li class="transfer"><a href="/s/40850" title="Harold Washington Library-S/VB">Harold Washington Library-S/VB</a></li>
        <li class="transfer"><a href="/s/40160" title="LaSalle/Van Buren">LaSalle/Van Buren</a></li>
        <li class="transfer"><a href="/s/40040" title="Quincy">Quincy</a></li>
        <li class="transfer"><a href="/s/40730" title="Washington/Wells">Washington/Wells</a></li>
      </ul>
    </div>
  </div>
  <div class="route" data-route-code="Blue">
    <div class="route-title">Blue</div>
    <div class="station-list">
      <ul>
        <li class="airport"><a href="/s/40890" title="O'Hare">O'Hare</a></li>
        <li><a href="/s/40820" title="Rosemont">Rosemont</a></li>
        <li><a href="/s/40230" title="Cumberland">Cumberland</a></li>
        <li><a href="/s/40750" title="Harlem">Harlem</a></li>
        <li><a href="/s/41280" title="Jefferson Park">Jefferson Park</a></li>
        <li><a href="/s/41330" title="Montrose">Montrose</a></li>
        <li><a href="/s/40550" title="Irving Park">Irving Park</a></li>
        <li><a href="/s/41240" title="Addison">Addison</a></li>
        <li><a href="/s/40060" title="Belmont">Belmont</a></li>
        <li><a href="/s/41020" title="Logan Square">Logan Square</a></li>
        <li><a href="/s/40570" title="California">California</a></li>
        <li><a href="/s/40670" title="Western (O'Hare Branch)">Western (O'Hare Branch)</a></li>
        <li><a href="/s/40590" title="Damen">Damen</a></li>
        <li><a href="/s/40320" title="Division">Division</a></li>
        <li><a href="/s/41410" title="Chicago">Chicago</a></li>
        <li><a href="/s/40490" title="Grand">Grand</a></li>
        <li class="transfer"><a href="/s/40380" title="Clark/Lake">Clark/Lake</a></li>
        <li class="transfer"><a href="/s/40370" title="Washington">Washington</a></li>
        <li><a href="/s/40790" title="Monroe">Monroe</a></li>
        <li class="transfer"><a href="/s/40070" title="Jackson">Jackson</a></li>
        <li><a href="/s/41340" title="LaSalle">LaSalle</a></li>
        <li><a href="/s/40430" title="Clinton">Clinton</a></li>
        <li><a href="/s/40350" title="UIC–Halsted">UIC–Halsted</a></li>
        <li><a href="/s/40470" title="Racine">Racine</a></li>
        <li><a href="/s/40810" title="Illinois Medical District">Illinois Medical District</a></li>
        <li><a href="/s/40220" title="Western (Forest Park Branch)">Western (Forest Park Branch)</a></li>
        <li><a href="/s/40250" title="Kedzie–Homan">Kedzie–Homan</a></li>
        <li><a href="/s/40920" title="Pulaski">Pulaski</a></li>
        <li><a href="/s/40970" title="Cicero">Cicero</a></li>
        <li><a href="/s/40010" title="Austin">Austin</a></li>
        <li><a href="/s/40180" title="Oak Park">Oak Park</a></li>
        <li><a href="/s/40750" title="Harlem">Harlem</a></li>
        <li><a href="/s/40390" title="Forest Park">Forest Park</a></li>
      </ul>
    </div>
  </div>
</section>
