<section class="station-arrivals-wrap">
  <div class="station-arrivals">
    <div class="direction direction-1">
      <h2 class="direction-name">Northbound</h2>
      <div class="arrivals-list-wrap">
        <div class="arrivals-list">
          <%= render :partial => 'arrivals_list', :locals => { :directionArrivals => @dir1Arrivals } %>
        </div>
      </div>
    </div>
    <div class="direction direction-5">
      <h2 class="direction-name">Southbound</h2>
      <div class="arrivals-list-wrap">
        <div class="arrivals-list">
          <%= render :partial => 'arrivals_list', :locals => { :directionArrivals => @dir5Arrivals } %>
        </div>
      </div>
    </div>
    <div class="time-refresh-content"><%= render :partial => 'time_refresh' %></div>
  </div>
</section>
