// Colors
$black: #000000;
$white: #ffffff;
$grey: #bbbbbb;
$blue: #00a1de;
$brown: #62361b;
$green: #009b3a;
$green2: #1fcd5f;
$orange: #f9461c;
$pink: #e27ea6;
$purple: #522398;
$red: #c60c30;
$yellow: #f9e300;
